{
  "presets": ["react", "flow"],
  "env": {
    "cjs": {
      "presets": ["env"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "styled-components"
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "styled-components"
      ]
    }
  }
}
