{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": ["off"],
    "no-mixed-operators": ["off"],
    "no-multi-assign": ["off"],
    "no-nested-ternary": ["off"],
    "no-plusplus": ["off"],
    "no-underscore-dangle": ["off"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-use-before-define": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/no-find-dom-node": ["off"],
    "react/no-unused-prop-types": ["off"],
    "react/require-default-props": ["off"],
    "react/sort-comp": ["off"]
  }
}
